body {
    background-image: url(cherry.jpg);
    background-position-x: center;
    font-family: Arial, Helvetica, sans-serif;
}
div {
    position: relative;
    left: 300px;
    top: 200px;
    /*background-color: white;
    /*opacity: 0.5; */
    backdrop-filter: blur(10px) ;
    outline: 10px;
    outline-color: white;
    width: fit-content;
}
h3 {
    opacity: 1;
    padding: 10px, 0px, 10px, 10px;
}